[submodule "xtensa-toolchain"]
	path = xtensa-toolchain
	url = git@github.com:pylover/xtensa-toolchain.git
[submodule "sdk"]
	path = sdk
	url = git@github.com:pylover/ESP8266_NONOS_SDK.git
[submodule "fota"]
	path = fota
	url = git@github.com:pylover/esp8266-fota.git
