[submodule "xtensa-toolchain"]
	path = xtensa-toolchain
	url = https://github.com/matthewtherat/xtensa-toolchain.git
	update = rebase
[submodule "sdk"]
	path = sdk
	url = https://github.com/matthewtherat/ESP8266_NONOS_SDK.git
	update = rebase
[submodule "fota"]
	path = fota
	url = https://github.com/matthewtherat/esp8266-fota.git
	update = rebase
